<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<caching>
            <profiles>
                <add extension=".html" policy="CacheUntilChange" kernelCachePolicy="DontCache" varyByQueryString="*" />
            </profiles>
        </caching>
		<httpProtocol>
			<customHeaders>
                <remove name="X-Powered-By" />
			</customHeaders>
		</httpProtocol>
		<rewrite>
			<rules>
				<rule name="Handle History Mode and custom 404/500" stopProcessing="true">
					<match url="(.*)" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="/" />
				</rule>
			</rules>
			<outboundRules>
					<rule name="Set Cache-Control - No cache" enabled="true">
						<match serverVariable="RESPONSE_Cache_Control" pattern=".*" />
						<conditions>
							<add input="{REQUEST_URI}" pattern="service-worker.js$" />
						</conditions>
						<action type="Rewrite" value="no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0" />
					</rule>
					<rule name="AddCrossDomainHeader">
						<match serverVariable="RESPONSE_Access_Control_Allow_Origin" pattern=".*" />
						<conditions logicalGrouping="MatchAll" trackAllCaptures="true">
							<add input="{HTTP_ORIGIN}" pattern="(https?:\/\/((.+\.)?[a-zA-Z0-9-]*\.ap\.dk|(.+\.)?localhost(\:[0-9]*)?))" />
						</conditions>
						<action type="Rewrite" value="{C:0}" />
					</rule>
				</outboundRules>
		</rewrite>
		<staticContent>
            <remove fileExtension=".wasm" />
			<mimeMap fileExtension=".wasm" mimeType="application/wasm" />
			<remove fileExtension=".webp" />
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
			<remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			<remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
			<remove fileExtension=".wsv" />
			<mimeMap fileExtension=".wsv" mimeType="application/octet-stream" />
		</staticContent>
	</system.webServer>
	<location path="~/service-worker.js">
		<system.webServer>
			<caching>
				<profiles>
					<add policy="DontCache" kernelCachePolicy="DisableCache" />
				</profiles>
			</caching>
		</system.webServer>
  	</location>
</configuration>